:root{
    --normal:       #A8A878;
    --fighting:     #C03028;
    --flying:       #A890F0;
    --poison:       #A040A0;
    --ground:       #E0C068;
    --rock:         #B8A038;
    --bug:          #A8B820;
    --ghost:        #705898;
    --steel:        #B8B8D0;
    --fire:         #F08030;
    --water:        #6890F0;
    --grass:        #78C850;
    --electric:     #F8D030;
    --psychic:      #F85888;
    --ice:          #98D8D8;
    --dragon:       #7038F8;
    --dark:         #705848;
    --fairy:        #EE99AC;
}

.normal{
    background-color: var(--normal)
}
.fighting{
    background-color: var(--fighting)
}
.flying{
    background-color: var(--flying)
}
.poison{
    background-color: var(--poison)
}
.ground{
    background-color: var(--ground)
}
.rock{
    background-color: var(--rock)
}
.bug{
    background-color: var(--bug)
}
.ghost{
    background-color: var(--ghost)
}
.steel{
    background-color: var(--steel)
}
.fire{
    background-color: var(--fire)
}
.water{
    background-color: var(--water)
}
.grass{
    background-color: var(--grass)
}
.electric{
    background-color: var(--electric)
}
.psychic{
    background-color: var(--psychic)
}
.ice{
    background-color: var(--ice)
}
.dragon{
    background-color: var(--dragon)
}
.dark{
    background-color: var(--dark)
}
.fairy{
    background-color: var(--fairy)
}